name: text-sed-default
output_dir: checkpoints/${name}
seed: 2617

model:
  embed_model_name: bert-large-cased
  num_layers: 12
  bottleneck_dim: 256
  model_dim: 1536
  head_dim: null
  num_heads: 16
  seq_len: 10
  max_gen_len: ${seq_len}
  max_num_spans: 1
  num_steps: 1000
  num_gen_steps: 1000
  use_abs_pos: false
  use_rotary: true
  guide_scale: null
  ema_decay: 0.999
  ema_every: 1
  noise_schedule: cosine
  use_self_cond: true
  time_delta: 0.0
  sampler: ddim
  # dropout: 0.1

optimizer:
  type: adamw
  lr: 1e-4
  lr_scheduler: cosine
  warmup_steps: 5000
  weight_decay: 1e-4
  eps: 1e-6
  betas: [0.9, 0.99]
  max_grad_norm: 1.0

train:
  batch_size: 256
  max_steps: 500000
  eval_every: 1000
  log_stats: false
  log_every: 100
  save_every: 10000
  sample_every: 500
  num_samples: 8
  checkpoint_path: null
  use_amp: true
  dtype: bfloat16

valid:
  batch_size: 64
  max_steps: 1000

data:
  train_kwargs:
    path: "datasets/roc_stories.py"
    name: null
    use_auth_token: False  
    split: "train"
  valid_kwargs:
    path: "datasets/roc_stories.py"
    name: null
    use_auth_token: False
    split: "test"
  use_fast_tokenizer: True
  use_auth_token: False
  num_preprocess_workers: 1

logging:
  wandb_id: null
  wandb_entity: "jon-tow"
  wandb_project: ${name}
  wandb_group: "Processes"
