name: text-sed-default
output_dir: checkpoints/${name}
seed: 2617

model:
  embed_model_name: bert-large-cased
  num_layers: 12
  bottleneck_dim: 256
  model_dim: 1536
  head_dim: 128
  num_heads: 16
  seq_len: 32
  max_gen_len: 32
  scale: 1.0
  guide_scale: null
  num_steps: 1000
  num_gen_steps: 1000
  ema_decay: 0.9999
  ema_every: 10
  noise_schedule: cosine
  use_self_cond: true
  time_delta: 0.0
  sampler: ddim
  # dropout: 0.1

optimizer:
  type: adamw
  lr: 1e-4
  lr_scheduler: linear
  warmup_steps: 5000
  weight_decay: 0.01
  eps: 1e-06
  betas: [0.9, 0.999]
  max_grad_norm: 1.0

train:
  batch_size: 128
  max_steps: 500000
  eval_every: 1000
  log_stats: false
  log_every: 100
  save_every: 10000
  sample_every: 1000
  num_samples: 8
  checkpoint_path: null
  use_amp: true
  dtype: bfloat16

valid:
  batch_size: 64
  max_steps: 1000

data:
  name: "datasets/roc_stories.py" # imdb
  subset_name: null
  train_name: train
  valid_name: test
  use_auth_token: False
  use_fast_tokenizer: True
  num_preprocess_workers: 1

logging:
  wandb_id: null
  wandb_entity: null
  wandb_project: ${name}
  wandb_group: "Processes"
