name: sed-small
output_dir: checkpoints/${name}
seed: 2617

model:
  embed_model_name: bert-base-cased
  num_layers: 12
  model_dim: 896
  num_heads: 16
  head_dim: 64
  seq_len: 256
  max_gen_len: 256
  scale: 1.0
  num_steps: 1000
  num_gen_steps: 1000
  ema_decay: 0.9999
  noise_schedule: cosine
  use_self_cond: true
  time_delta: 0.0
  sampler: ddim
  dropout: 0.1

optimizer:
  type: adamw
  lr: 0.0001
  weight_decay: 0.01
  eps: 1e-08
  betas: [0.9, 0.999]
  max_grad_norm: 1.0

train:
  batch_size: 32
  max_steps: 1000000  # 1e6
  eval_every: 1000
  log_every: 100
  save_every: 10000
  sample_every: 1000
  num_samples: 8
  checkpoint_path: null
  use_amp: true
  dtype: bfloat16

valid:
  batch_size: 64
  max_steps: 1000

data:
  name: imdb
  subset_name: null
  train_name: train
  valid_name: test
  use_auth_token: False
  use_fast_tokenizer: True
  num_preprocess_workers: 1

logging:
  use_wandb: true
  wandb_id: null
  wandb_entity: null
  wandb_project: ${name}
